<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <body>
    <ui:define name="title">
        <h:outputText value="Поиск и создание сборок"></h:outputText>
    </ui:define>
    <ui:composition template="../template.xhtml">
        <ui:define name="content">
            <p:dialog id="editDialog" widgetVar="editDialogVar" modal="true" dynamic="true">
                <h:form id="editForm">
                    <h:panelGrid columns="2" style="margin-bottom:10px">
                        <h:outputText value="Название:" /> <p:inputText value="#{linkageController.current.name}" required="true" />
                        <h:outputText value="Инструкция" />  <p:inputTextarea rows="10" cols="50" value="#{linkageController.current.instruction}" required="true" />
                        <p:commandButton  action='#{linkageController.create}' value='Создать' process="@form" update=":items"/>
                    </h:panelGrid>
                </h:form>
            </p:dialog>
            <p:commandButton action='#{linkageController.prepareCreate}' value='Создать'  update=":editDialog" />
            <br/>
            <h:form>
                <h:panelGrid columns="3" style="margin-bottom:10px">
                    <h:outputText value="Название: " /> 
                    <h:outputText value="" /> 
                    <p:inputText value="#{linkageController.name}" />
                    <p:commandButton action='#{linkageController.prepareSearch}' value='Поиск' process="@form" update=":items"/> 
                </h:panelGrid>
            </h:form>

            <br/><br/>
            <p:dataTable id="items" var="item" value="#{linkageController.items}" >
                <p:column headerText="УИД">  
                    <h:outputText value="#{item.idLinkage}" />  
                </p:column> 
                <p:column headerText="Название">  
                    <h:outputText value="#{item.name}" />  
                </p:column> 
                <p:column headerText="Инструкция">  
                    <h:outputText value="#{item.instruction}" />  
                </p:column> 
                <p:column headerText="Проект">  
                    <h:outputText value="#{item.idProject.idProject}" />  
                </p:column> 
                <p:column headerText="Проект1">  
                    <h:outputText value="#{item.idProjectParent.idProject}" />  
                </p:column> 
                <p:column headerText="Проект2">  
                    <h:outputText value="#{item.idLinkageParent.idLinkage}" />  
                </p:column> 
                <p:column headerText="Действия">  
                    <p:commandButton value="Удалить" action="#{linkageController.destroy}" process="@this" update=":items"/>
                    <p:commandButton value="Редактировать" action="#{linkageController.prepareView}" process="@this" />
                </p:column> 
            </p:dataTable>
        </ui:define>
    </ui:composition>
</body>
</html>

