<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <body>
    <ui:define name="title">
        <h:outputText value="Редактирование сборки"></h:outputText>
    </ui:define>
    <ui:composition template="../template.xhtml">

        <ui:define name="content">
            <f:metadata>
                <f:viewParam name="idLinkage" value="#{linkageController.idLinkage}" />
            </f:metadata>
            <h:form id="editForm">
                <p:dialog id="editDialog" widgetVar="editDialogVar" modal="true" >
                    <h:panelGrid id="EditpanelGrid" columns="2" style="margin-bottom:10px">
                        <h:outputText value="Название:" /> <p:inputText value="#{linkageController.current.name}" required="true" />
                        <h:outputText value="Инструкция:" />  <p:inputTextarea rows="10" cols="50" value="#{linkageController.current.instruction}" required="true" />
                        <p:commandButton id="okEditButton"  action='#{linkageController.update}' value='ОК' oncomplete="editDialogVar.hide();" process="@form" update=":linkageInfoGrid"/>
                    </h:panelGrid>
                </p:dialog>
            </h:form>
            <br/>
            <h:panelGrid id="linkageInfoGrid" columns="2" style="margin-bottom:10px">
                <h:outputText value="Название:" /> <h:outputText value="#{linkageController.current.name}" />
                <h:outputText value="Инструкция:" />  <h:outputText value="#{linkageController.current.instruction}" />
            </h:panelGrid>
            <h:form>
                <p:commandButton  value="Изменить" action='#{linkageController.prepareEdit}' update=":editForm:editDialog" /> 
            </h:form>
            <br/>
            <h:form>
                <p:commandButton  value="Добавить деталь" type="button"  onclick="addPartDlg.show();" /> 
                <p:commandButton  value="Добавить сборку" type="button"  onclick="addLinkageDlg.show();"  />    
            </h:form>
            <h:form id="addLinkageForm">
                <p:dialog id="addLinkageDlg" widgetVar="addLinkageDlg" closeOnEscape="true"  modal="true" dynamic="true"> 
                    <h:panelGrid columns="3" style="margin-bottom:10px">
                        <h:outputText value="Название: " /> 
                        <h:outputText value="" /> 
                        <p:inputText value="#{linkageController.name}" />
                        <p:commandButton action='#{linkageController.prepareSearch}' value='Поиск' update=":addLinkageForm:itemsLinkageDlg"/> 
                        <h:outputText value="" /> 
                        <h:outputText value="" /> 
                        <h:outputText value="Количество: " /> 
                        <h:outputText value="" /> 
                        <p:inputText value="#{linkageController.elementCountProcess}" />
                    </h:panelGrid>

                    <br/><br/>
                    <p:dataTable id="itemsLinkageDlg" var="item" value="#{linkageController.items}" >
                        <p:column headerText="Название">  
                            <h:outputText value="#{item.name}" />  
                        </p:column> 
                        <p:column headerText="Инструкция">  
                            <h:outputText value="#{item.instruction}" />  
                        </p:column> 
                        <p:column headerText="Действия">  
                            <p:commandButton value="Добавить" action="#{linkageController.addToLinkage}" process="@this" update=":items"/>
                        </p:column> 
                    </p:dataTable>
                </p:dialog>
            </h:form>             
            <h:form id="addPartForm">
                <p:dialog id="addPartDlg" widgetVar="addPartDlg" modal="true" closeOnEscape="true" dynamic="true"> 
                    <h:panelGrid columns="3" style="margin-bottom:10px">
                        <h:outputText value="Название: " /> 
                        <h:outputText value="" /> 
                        <p:inputText value="#{partController.name}"/>
                        <p:commandButton action='#{partController.prepareSearch}' value='Поиск' update=":addPartForm:itemsPartDlg"/> 
                        <h:outputText value="" /> 
                        <h:outputText value="" /> 
                        <h:outputText value="Количество: " /> 
                        <h:outputText value="" /> 
                        <p:inputText value="#{partController.elementCountProcess}" />
                    </h:panelGrid>
                    <br/><br/>
                    <p:dataTable id="itemsPartDlg" var="item" value="#{partController.items}"  scrollable="true" scrollHeight="200" style="width:400px;" >
                        <p:column headerText="Название">  
                            <h:outputText value="#{item.name}" />  
                        </p:column> 
                        <p:column headerText="Действия" >  
                            <p:commandButton value="Добавить" action="#{partController.addToLinkage(linkageController.current)}" process="@this" update=":items"/>
                        </p:column>
                    </p:dataTable>
                </p:dialog>
            </h:form>
            <h:form id="editElementForm">
                <p:dialog id="editElementLinkage" widgetVar="editElementLinkage">
                    <h:outputText value="Инструкция:"/><p:inputText value="#{linkageController.elementLinkageToChange.nomination}" />
                    <p:commandButton value="ОК" update=":items" oncomplete="editElementLinkage.hide();" action="#{linkageController.changeElementNotation}"/>
                </p:dialog>
            </h:form>
            <p:dataTable id="items" var="Item"  value="#{linkageController.current.elementlinkageCollection}">
                <p:column headerText="Наименование сборки">
                    <h:outputText value="#{Item.idSublinkage.name}" />
                </p:column>
                <p:column headerText="Наименование детали">
                    <h:outputText value="#{Item.idPart.name}" />
                </p:column>
                <p:column headerText="Количество">
                    <h:outputText value="#{Item.countElement}" />
                </p:column>
                <p:column headerText="Инструкция">
                    <h:outputText value="#{Item.nomination}" />
                </p:column>
                <p:column headerText="Действия">  
                    <p:commandButton value="Удалить" action="#{linkageController.removeFromLinkage(Item)}" process="@this" update=":items"/>
                    <p:commandButton value="Изменить инструкцию" action="#{linkageController.prepareChangeNotation(Item)}" process="@this" update=":editElementForm:editElementLinkage"/>
                </p:column>  
            </p:dataTable>
            <br/><br/>
        </ui:define>
    </ui:composition>
</body>
</html>

