<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <ui:define name="title">
        <h:outputText value="Поиск и создание деталей"></h:outputText>
    </ui:define>
    <ui:composition template="../template.xhtml">
        <ui:define name="content">
            <h:form id="editForm">
                <p:dialog id="editDialog" widgetVar="editDialogVar" modal="true" dynamic="true" >
                    <p:panelGrid columns="2" style="margin-bottom:10px">
                        <h:outputText value="Название:" /> <p:inputText id="name" value="#{partController.current.name}" required="true" />
                        <h:outputText value="Код:" />      <p:inputText id="code" value="#{partController.current.code}" required="true" />
                        <h:outputText value="Вес:" />      <p:inputText id="weight" value="#{partController.current.weight}" required="true" />
                        <h:outputText value="Высота:" />   <p:inputText id="height" value="#{partController.current.height}" required="true" />
                        <h:outputText value="Ширина:" />   <p:inputText id="width" value="#{partController.current.width}" required="true" />
                        <h:outputText value="Глубина:" />  <p:inputText id="depth" value="#{partController.current.depth}" required="true" />
                        <h:outputText value="Материал детали" />
                        <h:selectOneMenu id="idMaterial" value="#{partController.current.idMaterial}">  
                            <f:selectItem itemLabel="Выбрать материал детали" itemValue=""/>
                            <f:selectItems value="#{materialController.items}" var="item" itemLabel="#{item.name}" itemValue="#{item}" noSelectionValue="  " />  
                        </h:selectOneMenu>  
                        <h:outputText id="idTrimmingtype" value="Торцовка:" />
                        <h:selectOneMenu  value="#{partController.current.idTrimmingtype}">  
                            <f:selectItem itemLabel="Выбрать тип торцовки" itemValue=""/>
                            <f:selectItems value="#{trimmingtypeController.items}" var="item" itemLabel="#{item.name}" itemValue="#{item}" noSelectionValue="  " />  
                        </h:selectOneMenu>  
                        <h:outputText id="idTrimmingmaterial" value="Материал торцовки" />
                        <h:selectOneMenu  value="#{partController.current.idTrimmingmaterial}">  
                            <f:selectItem itemLabel="Выбрать материал торцовки" itemValue=""/>
                            <f:selectItems value="#{materialController.items}" var="item" itemLabel="#{item.name}" itemValue="#{item}" noSelectionValue="  " />  
                        </h:selectOneMenu>  
                        <h:outputText value="Фурнитура:" /> 
                        <p:selectOneMenu id="isimplement" value="#{partController.current.isimplement}" required="true">  
                            <f:selectItem itemLabel="Выбрать значение" itemValue="" />  
                            <f:selectItem itemLabel="Да" itemValue="1" />  
                            <f:selectItem itemLabel="Нет" itemValue="0" />   
                        </p:selectOneMenu>
                    </p:panelGrid>  
                    <p:commandButton  action="#{partController.create}"  value="ОК" process="@form" oncomplete="editDialogVar.hide();" update=":items"/>  
                </p:dialog>
            </h:form>
            <br/>
            <h:form>
                <p:commandButton action='#{partController.prepareCreate}' value='Создать' process="@this" update=":editForm:editDialog" /> 
            </h:form>
            <br/>
            <h:form>
                <h:panelGrid columns="3" style="margin-bottom:10px">
                    <h:outputText value="Название: " /> 
                    <h:outputText value="Код:" /> 
                    <h:outputText value="" /> 
                    <p:inputText value="#{partController.name}" />
                    <p:inputText value="#{partController.code}" />
                </h:panelGrid>
                <p:commandButton action='#{partController.prepareSearch}' value='Поиск' process="@form" update=":items"/> 
            </h:form>
            <br/><br/>
            <p:dataTable id="items" var="item" value="#{partController.items}" >
                <p:column headerText="Название">  
                    <h:outputText value="#{item.name}" />  
                </p:column> 
                <p:column headerText="Код">  
                    <h:outputText value="#{item.code}" />  
                </p:column> 
                <p:column headerText="Вес">  
                    <h:outputText value="#{item.weight}" />  
                </p:column> 
                <p:column headerText="Высота">  
                    <h:outputText value="#{item.height}" />  
                </p:column> 
                <p:column headerText="Ширина">  
                    <h:outputText value="#{item.width}" />  
                </p:column> 
                <p:column headerText="Глубина">  
                    <h:outputText value="#{item.depth}" />  
                </p:column>
                <p:column headerText="Материал детали">  
                    <h:outputText value="#{item.idMaterial.name}" />  
                </p:column> 
                <p:column headerText="Торцовка">  
                    <h:outputText value="#{item.idTrimmingmaterial.name}: #{item.idTrimmingtype.name}" />  
                </p:column> 
                <p:column headerText="Действия">  
                    <p:commandButton value="Удалить" action="#{partController.destroy}" process="@this" update=":items"/>
                    <p:commandButton value="Редактировать" action="#{partController.prepareEdit}" process="@this" update=":editForm:editDialog"/>
                    <p:commandButton value="Копировать" action="#{partController.prepareCopy}" process="@this" update=":editForm:editDialog"/>
                </p:column> 
            </p:dataTable>
        </ui:define>
    </ui:composition>
</html>

