<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">
    <h:head>
        <title>Facelet Title</title>
        <h:outputStylesheet name="css/jsfcrud.css"/>
    </h:head>
    <h:body>
        Hello from Facelets
        <br />
        <h:link outcome="welcomePrimefaces" value="Страница приветствия Primefaces" />
        <br />
        <h:link outcome="/material/List" value="Show All Material Items"/>
        <br />
        <h:link outcome="/materialtype/List" value="Show All Materialtype Items"/>
        <br />
        <h:link outcome="/settlementunit/List" value="Show All Settlementunit Items"/>
        <br />
        <h:link outcome="/MaterialFromView/materialFromView/List" value="Show All MaterialFromView Items"/>
    </h:body>




</html>

