<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <body>
    <ui:define name="title">
        <h:outputText value="Поиск и создание проектов"></h:outputText>
    </ui:define>
    <ui:composition template="./template.xhtml">
        <ui:define name="content">
            <h:form>  
                <h3>
                    <h:panelGrid columns="2" style="margin-bottom:10px">
                        <h:outputTdext value="Проект:" /> <h:outputText value="#{ProjectsearchController.selected.idProject}" />  
                        <h:outputText value="Фио исполнителя:" /> <h:outputText value="#{ProjectsearchController.selected.fioexecutor}" />  
                        <h:outputText value="Состояние проекта:" /> <h:outputText value="#{ProjectsearchController.selected.projectstatename}" />  
                        <h:outputText value="Дата начала:" /> <h:outputText value="#{ProjectsearchController.selected.dbegin}" />  
                        <h:outputText value="Дата начала:" /> <h:outputText value="#{ProjectsearchController.selected.dbegin}" />  
                        <h:outputText value="Дата завершения:" /> <h:outputText value="#{ProjectsearchController.selected.dend}" />  
                        <h:outputText value="Комментарий:" /> <h:outputText value="#{ProjectsearchController.selected.comment}" />  
                    </h:panelGrid>  
                </h3>
            </h:form>
            <h:form id="formLinkage">
                Элементы проекта
                <p:commandButton id="showDialogButton" type="button" value="Добавить" onclick="dlg.show();" /> 
                <p:dialog header="Добавить сборку в проект" widgetVar="dlg" resizable="false">  
                    <h:form id="form">
                        <h:form id="form1">
                            <p:inputText value="#{LinkageController.name}" />  
                            <p:commandButton  action='#{LinkageController.setParameters}' value='Искать'  update=":formLinkage:form:searchLinkage"/>
                        </h:form>
                        <p:dataTable id="searchLinkage" var="item" value="#{LinkageController.items}" >  
                            <p:column headerText="Наименование сборки">  
                                <h:outputText value="#{item.name}" />  
                            </p:column>     
                            <p:column headerText="Инструкция">  
                                <h:outputText value="#{item.instruction}" />  
                            </p:column>  
                            <p:column headerText="Действия">  
                                <p:commandButton action='#{LinkageController.copyIntoProject(ProjectsearchController.selected.idProject)}' update=":formLinkage:linkageData:linkageItem" value='Скопировать в проект1' />
                            </p:column>  
                        </p:dataTable>  
                        <p:commandButton value="ОК" action="#{ProjectsearchController.refresh}" id="submitButton" update=":formLinkage:linkageData" oncomplete="dlg.hide();"/>  
                    </h:form>
                </p:dialog>
                <h:form id="linkageData" prependId="false">
                    <p:dataTable id="linkageItem" var="linkageItem"  value="#{ProjectsearchController.selected.linkage}">
                        <p:column headerText="Наименование">
                            <h:outputText value="#{linkageItem.name}" />
                        </p:column>
                        <p:column headerText="Инструкция">
                            <h:outputText value="#{linkageItem.instruction}" />
                        </p:column>
                    </p:dataTable>
                </h:form>
            </h:form>
        </ui:define>
    </ui:composition>
</body>
</html>

