<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <body>
    <ui:define name="title">
        <h:outputText value="Поиск и создание проектов"></h:outputText>
    </ui:define>
    <ui:composition template="./template.xhtml">
        <ui:define name="content">
            <h:form>
                <p:inputText value="#{ProjectsearchController.idProject}" />  
                <p:commandButton  action='#{ProjectsearchController.setParameters}' value='Искать' ajax='false' />
            </h:form>
            <h:form>  
                <p:dataTable var="item" value="#{ProjectsearchController.items}" >  
                    <p:column headerText="Номер проекта">  
                        <h:outputText value="#{item.idProject}" />  
                    </p:column>     
                    <p:column headerText="ФИО исполнителя">  
                        <h:outputText value="#{item.fioexecutor}" />  
                    </p:column>  
                    <p:column headerText="Состояние проекта">  
                        <h:outputText value="#{item.projectstatename}" />  
                    </p:column>  
                    <p:column headerText="Дата начала">  
                        <h:outputText value="#{item.dbegin}" />  
                    </p:column>                 
                    <p:column headerText="Дата завершения">  
                        <h:outputText value="#{item.dend}" />  
                    </p:column>                 
                    <p:column headerText="Комментарий">  
                        <h:outputText value="#{item.comment}" />  
                    </p:column>                 
                     <p:column headerText="Действия">  
                        <h:commandButton action="#{ProjectsearchController.prepareView}" value="Просмотр"  />
                    </p:column>     
                </p:dataTable>  
            </h:form>
        </ui:define>
    </ui:composition>
</body>
</html>

