<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <ui:define name="title">
        <h:outputText value="Проект"></h:outputText>
    </ui:define>
    <ui:composition template="./template.xhtml">
        <ui:define name="content">  
            <h3>
                <h:panelGrid id="projectInfoGrid" columns="2" style="margin-bottom:10px">
                    <h:outputText value="Проект:" /> <h:outputText value="#{projectViewController.current.idProject}" />  
                    <h:outputText value="Исполнитель:" /> <h:outputText value="#{projectViewController.current.idExecutor.fullName}" />  
                    <h:outputText value="Состояние проекта:" /> <h:outputText value="#{projectViewController.current.idProjectstate.name}" />  
                    <h:outputText value="Дата начала:" /> <h:outputText value="#{projectViewController.current.dbegin}" />  
                    <h:outputText value="Дата завершения:" /> <h:outputText value="#{projectViewController.current.dend}" />  
                    <h:outputText value="Комментарий:" /> <h:outputText value="#{projectViewController.current.comment}" />  
                    <p:commandButton value='Изменить' oncomplete="editProjectDialogVar.show();" />
                </h:panelGrid>  
            </h3>
            <p:dialog id="editProjectDialog" widgetVar="editProjectDialogVar" modal="true">
                <h:form>
                    <h:panelGrid columns="2" style="margin-bottom:10px">
                        <h:outputText value="Состояние проекта:" />
                        <h:selectOneMenu  value="#{projectViewController.current.idProjectstate}" required="true">  
                            <f:selectItems value="#{projectstateController.items}" var="item" itemLabel="#{item.name}" itemValue="#{item}"/>  
                        </h:selectOneMenu>  
                        <h:outputText value="Исполнитель" />
                        <h:selectOneMenu  value="#{projectViewController.current.idExecutor}" required="true">  
                            <f:selectItems value="#{personController.items}" var="item" itemLabel="#{item.fullName}" itemValue="#{item}"/>  
                        </h:selectOneMenu>  
                        <h:outputText value="Комментарий:" /> <p:inputText value="#{projectViewController.current.comment}" />  
                    </h:panelGrid>
                    <p:commandButton action='#{projectViewController.update}' value='ОК'  process='@form' update=':projectInfoGrid' oncomplete='editProjectDialogVar.hide();' />
                </h:form>
            </p:dialog>


            <p:tabView id="projectTab">
                <p:tab id="entityProject" title="Сборки">
                    <p:commandButton id="addLinkageButton" type="button" value="Добавить сборку" onclick="dlgLinkage.show();" /> 
                    <p:dialog appendToBody="true" header="Добавить сборку в проект" widgetVar="dlgLinkage" resizable="false" modal="true" width="1000" height="700">  
                        <h:form id="dlgForm">    
                            <p:inputText value="#{linkageController.name}" />  
                            <p:commandButton  action='#{linkageController.setParameters}' process="@this" value='Искать'  update="searchLinkage"/>
                            <p:dataTable id="searchLinkage" var="item" value="#{linkageController.items}"  scrollable="true" >  
                                <p:column headerText="Наименование сборки" width="150">  
                                    <h:outputText value="#{item.name}" />  
                                </p:column>     
                                <p:column headerText="Инструкция" width="200">  
                                    <h:outputText value="#{item.instruction}" />  
                                </p:column>  
                                <p:column headerText="Действия" >  
                                    <p:commandButton action="#{linkageController.copyIntoProject(projectViewController.current.idProject)}" process="@this" update=":projectTab:linkageItem" value="Скопировать в проект" >
                                        <f:actionListener binding="#{projectViewController.update()}"/>
                                    </p:commandButton>
                                </p:column>  
                            </p:dataTable>  
                            <p:commandButton value="ОК" id="submitButton"  process="@this" update=":projectTab:linkageItem" oncomplete="dlgLinkage.hide();" />  
                        </h:form>    
                    </p:dialog>
                    <p:dataTable id="linkageItem" var="linkageItem"  value="#{projectViewController.current.linkageCollection}">
                        <p:column headerText="Наименование">
                            <h:outputText value="#{linkageItem.name}" />
                        </p:column>
                        <p:column headerText="Инструкция">
                            <h:outputText value="#{linkageItem.instruction}" />
                        </p:column>
                        <p:column headerText="Действия">  
                            <p:commandButton action='#{linkageController.destroy(linkageItem)}' process="@this" update=":projectTab:linkageItem" value='Удалить'>
                                <f:actionListener binding="#{projectViewController.removeLinkage(linkageItem)}"/>
                            </p:commandButton>
                        </p:column>  
                    </p:dataTable>
                </p:tab>
                <p:tab id="wrappingProject" title="Упаковки">
                    <h:form id="createWrappingForm"> 
                        <p:dialog  id="createWrappingDlg" header="Создать упаковку" widgetVar="dlgWrapping" modal="true">  
                            <h:outputText value="Номер упаковки"/>  
                            <h:inputText value="#{projectViewController.wrapping.no}" />  
                            <p:pickList id="pickList" value="#{projectViewController.wrappingParts}" var="wrapPart" itemLabel="#{wrapPart.name}" itemValue="#{wrapPart.idPart}" />  
                            <p:commandButton value="ОК" id="submitButton" process="@form" update=":projectTab:wrappingItem" oncomplete="dlgWrapping.hide();" action="#{projectViewController.createWrapping}" />  
                        </p:dialog>
                    </h:form> 
                    <h:form>
                        <p:commandButton id="addWrappingButton" action="#{projectViewController.prepareCreateWrapping}" value="Добавить упаковку" update=":projectTab:createWrappingForm"/> 
                    </h:form>
                    <p:dataTable id="wrappingItem" var="wrappingItem"  value="#{projectViewController.current.wrappingCollection}">
                        <p:column headerText="Наименование">
                            <h:outputText value="#{wrappingItem.no}" />
                        </p:column>
                    </p:dataTable>
                </p:tab>
            </p:tabView>
        </ui:define>
    </ui:composition>
</html>

