<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <ui:define name="title">
        <h:outputText value="Проект"></h:outputText>
    </ui:define>
    <ui:composition template="./template.xhtml">
        <ui:define name="content">  
            <f:metadata>
                <f:viewParam name="idProject" value="#{projectViewController.idProject}" />
            </f:metadata>
            <h3>
                <h:panelGrid id="projectInfoGrid" columns="2" style="margin-bottom:10px">
                    <h:outputText value="Проект:" /> <h:outputText value="#{projectViewController.current.idProject}" />  
                    <h:outputText value="Исполнитель:" /> <h:outputText value="#{projectViewController.current.idExecutor.fullName}" />  
                    <h:outputText value="Состояние проекта:" /> <h:outputText value="#{projectViewController.current.idProjectstate.name}" />  
                    <h:outputText value="Дата начала:" /> <h:outputText value="#{projectViewController.current.dbegin}" />  
                    <h:outputText value="Дата завершения:" /> <h:outputText value="#{projectViewController.current.dend}" />  
                    <h:outputText value="Комментарий:" /> <h:outputText value="#{projectViewController.current.comment}" />  
                    <p:commandButton value='Изменить' oncomplete="editProjectDialogVar.show();" />
                </h:panelGrid>  
            </h3>
            <p:dialog id="editProjectDialog" widgetVar="editProjectDialogVar" modal="true">
                <h:form>
                    <h:panelGrid columns="2" style="margin-bottom:10px">
                        <h:outputText value="Состояние проекта:" />
                        <h:selectOneMenu  value="#{projectViewController.current.idProjectstate}" required="true">  
                            <f:selectItems value="#{projectstateController.items}" var="item" itemLabel="#{item.name}" itemValue="#{item}"/>  
                        </h:selectOneMenu>  
                        <h:outputText value="Исполнитель" />
                        <h:selectOneMenu  value="#{projectViewController.current.idExecutor}" required="true">  
                            <f:selectItems value="#{personController.items}" var="item" itemLabel="#{item.fullName}" itemValue="#{item}"/>  
                        </h:selectOneMenu>  
                        <h:outputText value="Комментарий:" /> <p:inputText value="#{projectViewController.current.comment}" />  
                    </h:panelGrid>
                    <p:commandButton action='#{projectViewController.update}' value='ОК'  process='@form' update=':projectInfoGrid' oncomplete='editProjectDialogVar.hide();' />
                </h:form>
            </p:dialog>


            <p:tabView id="projectTab">
                <p:tab id="entityProject" title="Сборки">
                    <p:commandButton id="addLinkageButton" type="button" value="Добавить сборку" onclick="dlgLinkage.show();" /> 
                    <p:dialog header="Добавить сборку в проект" widgetVar="dlgLinkage" resizable="false" modal="true" width="1000" height="700">  
                        <h:form id="dlgForm">    
                            <p:inputText value="#{linkageController.name}" />  
                            <p:commandButton  action='#{linkageController.setParameters}' process="@this" value='Искать'  update="searchLinkage"/>
                            <p:dataTable id="searchLinkage" var="item" value="#{linkageController.items}"  scrollable="true" >  
                                <p:column headerText="Наименование сборки" width="150">  
                                    <h:outputText value="#{item.name}" />  
                                </p:column>     
                                <p:column headerText="Инструкция" width="200">  
                                    <h:outputText value="#{item.instruction}" />  
                                </p:column>  
                                <p:column headerText="Действия" >  
                                    <p:commandButton action="#{linkageController.copyIntoProject(projectViewController.current.idProject)}" process="@this" update=":projectTab:linkageItem" value="Скопировать в проект" >
                                        <f:actionListener binding="#{projectViewController.update()}"/>
                                    </p:commandButton>
                                </p:column>  
                            </p:dataTable>  
                            <p:commandButton value="ОК" id="submitButton"  process="@this" update=":projectTab:linkageItem, :projectTab:wrappingItemFree" oncomplete="dlgLinkage.hide();" />  
                        </h:form>    
                    </p:dialog>
                    <p:dataTable id="linkageItem" var="linkageItem"  value="#{projectViewController.current.linkageCollection}">
                        <p:column headerText="Наименование">
                            <h:outputText value="#{linkageItem.name}" />
                        </p:column>
                        <p:column headerText="Инструкция">
                            <h:outputText value="#{linkageItem.instruction}" />
                        </p:column>
                        <p:column headerText="Действия">  
                            <p:commandButton action='#{linkageController.destroy(linkageItem)}' process="@this" update=":projectTab:linkageItem, :projectTab:wrappingItemFree" value='Удалить'>
                                <f:actionListener binding="#{projectViewController.removeLinkage(linkageItem)}"/>
                            </p:commandButton>
                        </p:column>  
                    </p:dataTable>
                </p:tab>

                <p:tab id="wrappingProject" title="Упаковки">
                    <p:dialog header="Добавить упаковку" widgetVar="dlgWrapping" resizable="false" modal="true" width="200" height="200" dynamic="true" >  
                        <h:form id="dlgFormWrapping">    
                            <p:inputText value="#{wrappingController.wrapping.no}" />  
                            <p:commandButton value="ОК" action="#{wrappingController.createWrapping()}" process="@form" update=":projectTab:wrappingItem"/>  
                        </h:form>    
                    </p:dialog>

                    <p:dialog header="Добавить деталь" widgetVar="dlgAddPart" resizable="false" modal="true" width="300" height="200" dynamic="true">  
                        <h:form id="dlgFormWrapping1">    
                            <h:panelGrid columns="2" style="margin-bottom:10px">
                                <h:outputText value="Деталь " />
                                <h:selectOneMenu id="oneMenu" value="#{wrappingController.partAddToWrapping}"  required="true" >  
                                    <f:selectItem itemLabel="Деталь" itemValue=""/>  
                                    <f:selectItems value="#{wrappingController.wrappingFreeItems}" var="item" itemLabel="#{item.key.code}" itemValue="#{item.key.idPart}"/>  
                                    <p:ajax  process="oneMenu"   update="minmax" event="change" />
                                </h:selectOneMenu>  
                                <h:outputText value="Количество: " />
                                <p:spinner id="minmax"   
                                           value="#{wrappingController.partAddToWrappingCount}" min="1" max="#{wrappingController.partAddToWrappingCountMax}" readonly="#{wrappingController.partAddToWrapping==null?true:false}"/>  
                            </h:panelGrid>
                            <p:commandButton value="ОК" action="#{wrappingController.addPartToWrapping()}" process="@form" update=":projectTab:wrappingItem, :projectTab:wrappingItemFree, :projectTab:dlgFormWrapping1" />  
                        </h:form>    
                    </p:dialog>

                    <p:dataTable id="wrappingItemFree" var="wrappingItem1" value="#{wrappingController.wrappingFreeItems}" >
                        <p:column headerText="Наименование детали" >
                            #{wrappingItem1.key.code}
                        </p:column>
                        <p:column headerText="Остаток" >
                            #{wrappingItem1.value}
                        </p:column>
                    </p:dataTable>
                    <p:dataTable id="wrappingItem" var="wrappingItem" value="#{wrappingController.wrappingItems}" >
                        <p:column>
                            <p:dataTable var="parts" value="#{wrappingItem.wrappingpartCollection}">  
                                <f:facet name="header">  
                                    Упаковка № #{wrappingItem.no}   
                                    <p:commandButton action="#{wrappingController.deleteWrapping()}" update=":projectTab:wrappingItem, :projectTab:wrappingItemFree, :projectTab:dlgFormWrapping1" value='Удалить'/>
                                    <p:commandButton action="#{wrappingController.prepareAddPartToWrapping()}" update=":projectTab:wrappingItem, :projectTab:wrappingItemFree" value='Добавить деталь'/>
                                </f:facet>  
                                <p:column>  
                                    #{parts.idPart.code}  
                                </p:column>  
                                <p:column>  
                                    #{parts.countElement}  
                                </p:column>  
                                <p:column>  
                                    <p:commandButton action="#{wrappingController.deletePartFromWrapping(parts)}" update=":projectTab:wrappingItem, :projectTab:wrappingItemFree, :projectTab:dlgFormWrapping1" value='Удалить'/>
                                </p:column>  
                            </p:dataTable>  
                        </p:column>

                    </p:dataTable>

                    <h:form>
                        <p:commandButton id="addWrappingButton" action="#{wrappingController.prepareCreateWrapping}" value="Добавить упаковку" /> 
                    </h:form>

                </p:tab>
            </p:tabView>
            <h:form>
                <p:commandButton id="executeReport" actionListener="#{projectViewController.executeReport}" value="Отчет" ajax="false"/>
            </h:form>
        </ui:define>
    </ui:composition>
</html>

