<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link href="./resources/css/default.css" rel="stylesheet" type="text/css" />
        <link href="./resources/css/cssLayout.css" rel="stylesheet" type="text/css" />
        <title>Facelets Template</title>
        <h:outputStylesheet name="css/jsfcrud.css"/>
    </h:head>

    <h:body>
        <p:menubar> 
            <p:submenu label="Проекты">  
                <p:menuitem value="Поиск и создание" url="/faces/Project-search.xhtml"/>  
            </p:submenu>
            <p:submenu label="Справочники">  
                <p:menuitem value="Типы материалов" url="/faces/materialtype/View.xhtml"/>  
                <p:menuitem value="Материалы" url="/faces/material/View.xhtml"/>  
                <p:menuitem value="Единицы измерения" url="/faces/settlementunit/View.xhtml"/>  
                <p:menuitem value="Типы торцовки" url="/faces/trimmingtype/View.xhtml"/>  
                <p:menuitem value="Люди" url="/faces/person/View.xhtml"/>  
                <p:menuitem value="Статусы проектов" url="/faces/projectstate/View.xhtml"/>  
            </p:submenu>        
            <p:submenu label="Детали/сборки">  
                <p:menuitem value="Поиск и создание деталей" url="/faces/part/Search.xhtml"/>  
                <p:menuitem value="Поиск и создание сборок" url="/faces/linkage/Search.xhtml"/>  
            </p:submenu>
        </p:menubar>
        <ui:insert name="content">Content</ui:insert>
    </h:body>

</html>
