<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <body>
        <ui:composition template="../template.xhtml">
            <ui:define name="title">
                <h:outputText value="Типы единиц измерения"></h:outputText>
            </ui:define>
            <ui:define name="content">

                <h:form id="ff">
                    <p:commandButton value="Создать" actionListener="#{settlementunitController.prepareCreate}" process="@this" update=":ff:createDialog" />  

                    <p:dialog id="createDialog" widgetVar="createDialogVar" modal="true">
                        <h:form>
                            <h:panelGrid columns="2" style="margin-bottom:10px">
                                <h:outputText value="Наименование:" /> <p:inputText value="#{settlementunitController.selected.name}" />  
                                <h:outputText value="Код:" /> <p:inputText value="#{settlementunitController.selected.code}" />  
                                <h:outputText value="Короткое наименование:" /> <p:inputText value="#{settlementunitController.selected.shortname}" />  
                                <p:commandButton  action='#{settlementunitController.create}' value='Создать' oncomplete="createDialogVar.hide();"  process="@form" update=":ff:baseForm:items" />
                            </h:panelGrid>
                        </h:form>
                    </p:dialog>
                    <h:form id="baseForm">  
                        <p:dataTable  id="items" var="item" value="#{settlementunitController.items}" >  
                            <p:column headerText="Наименование">  
                                <h:outputText value="#{item.name}" />  
                            </p:column>     
                            <p:column headerText="Код">  
                                <h:outputText value="#{item.code}" />  
                            </p:column>     
                            <p:column headerText="Короткое наименование">  
                                <h:outputText value="#{item.shortname}" />  
                            </p:column>     
                            <p:column headerText="Действия" >  
                                <p:commandButton value="Удалить" action="#{settlementunitController.destroy}" process="@this" update=":ff:baseForm:items"/>
                                <p:commandButton  actionListener="#{settlementunitController.prepareEdit}" value="Изменить" process="@this" update=":ff:baseForm:editDialog"/>
                            </p:column>     
                        </p:dataTable>
                        <p:dialog id="editDialog" widgetVar="editDialogVar" modal="true">
                            <h:panelGrid columns="2" style="margin-bottom:10px">
                                <h:outputText id="name" value="Наименование:" /> <p:inputText id="a1" value="#{settlementunitController.selected.name}" />
                                <h:outputText id="code" value="Код:" /> <p:inputText value="#{settlementunitController.selected.code}" />  
                                <h:outputText value="Короткое наименование:" /> <p:inputText value="#{settlementunitController.selected.shortname}" />  
                                <p:commandButton   action='#{settlementunitController.update}' value='Изменить' process="@form" update=":ff:baseForm:items" oncomplete="editDialogVar.hide();"/>
                            </h:panelGrid>
                        </p:dialog>
                    </h:form>
                </h:form>
            </ui:define>
        </ui:composition>
    </body>
</html>
